html   
{
    background-color: grey;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(media/integrasjon-bg.png);
    object-fit: cover;
    background-repeat: repeat;
  

}
